<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="overlay"></div>

    <!--TOP BAR-->
    {% include "menu-bars/top-bar.html" %}

    <section>
        {% include "menu-bars/sidebar_menu.html" %}
    </section>

    <div class="overlay"></div>
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>ORGANIZATION LIST</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable" id="org-list-table">
                                    <thead>
                                        <tr>
                                          {% for header in headers %}
                                                    <td>{{ header|upper }}</td>
                                                    {% empty %}<br>
                                          {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for org in orgs %}
                                                 <tr>
                                                     <td>{{ org.name }}</td>
                                                     <td>{{ org.slug }}</td>
                                                     <td>{{ org.id }}</td>
                                                 </tr>
                                            {% empty %}
                                                <li>Sorry, no Organizations created yet</li>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>
{% include "common/footer.html" %}
<script>
    $('#org-list-table').DataTable({
        responsive: true,
        "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return "<a type=\"button\" class=\"btn bg-yellow waves-effect\" href=\"/organization/"+data+"/edit\" target=\"_blank\">"
                         +"<i class=\"material-icons\">mode_edit</i></a>";
                },
                "targets": 2
            }
            ]
    });
</script>
</body>
</html>




