boto3==1.7.52
botocore==1.10.52
Django==1.10
django-allauth==0.25.2
django-bootstrap-themes==3.3.6
django-braces==1.13.0
django-cors-headers==2.0.2
django-crispy-forms==1.7.2
django-extensions==2.1.3
django-filter==1.0.0
djangorestframework==3.5.3
future==0.16.0
futures==3.2.0
Jinja2==2.8
requests==2.19.1
requests-mock==1.2.0
requests-oauthlib==0.6.1
virtualenv==15.0.1
paho-mqtt==1.4.0
django-widget-tweaks==1.4.3