<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="https://awalk.co.in/img/name.png" alt="Awalk" />
                            </a>
                        </div>
                        <h3>Oops !!! Something went wrong....Click here to go to login page</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

 {% include "common/footer.html" %}

</body>

</html>
<!-- end document-->