<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="overlay"></div>

    <!--TOP BAR-->
    {% include "menu-bars/top-bar.html" %}

    <section>
        {% include "menu-bars/sidebar_menu.html" %}
    </section>

    <div class="overlay"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>VALVES LIST</h2>
            </div>
        <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="defaultModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            {% for valve in valves %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-teal">
                            <h2>
                                {{ valve.name }}<small>imei no : {{ valve.imei_number }}</small>
                            </h2>
                            <ul class="header-dropdown m-r-0">

                            </ul>
                        </div>
                        <div class="body">
                            <h1>62</h1>
                            <p id="last_updated_at_{{ valve.id }}">Last updated at : {{ valve.status_last_updated_at }}</p>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-sm-3">
                        <a type="button" class="btn bg-yellow waves-effect" href="/valves/update/{{ valve.id }}" target="_blank">
                                    <i class="material-icons">content_cut</i>
                                </a>
                                </div>
                            <div class="col-sm-6 offset-md-6">
                            <div class="preloader" style="display: none" id="loader_{{ valve.id }}">
                                    <div class="spinner-layer pl-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            <div class="switch" style="display: block" id="switch_{{ valve.id }}">
                                {% if valve.current_state == "OFF" %}
                                    <label>OFF<input type="checkbox" class="valve_trigger" valve="{{ valve.id }}"><span class="lever"></span>ON</label>
                                {% elif valve.current_state == "ON" %}
                                    <label>OFF<input type="checkbox" checked class="valve_trigger" valve="{{ valve.id }}"><span class="lever"></span>ON</label>
                            {% endif %}
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
                        {% empty %}<h3>Sorry, no valves created yet</h3>
                        {% endfor %}
        </div>
        {% if user.role == "ORG_ADMIN" or user.role == "SUPER_ADMIN" %}
            {% for valve in valves%}
        <div class="row">
            <div class="col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Users configured for Valve : {{ valve.name }}</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover valve-info-table dataTable">
                                    <thead>
                                        <tr>
                                          {% for header in inner_headers %}
                                                    <td>{{ header|upper }}</td>
                                                    {% empty %}<br>
                                          {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for user in valve.users.all %}
                                                 <tr>
                                                     <td>{{ user.username }}</td>
                                                     <td>{{ user.first_name }}</td>
                                                     <td>{{ user.last_name }}</td>
                                                     <td>{{ user.organization }}</td>
                                                 </tr>
                                            {% empty %}
                                                <h3>Sorry, no valves created yet</h3>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </section>
{% include "common/footer.html" %}
    <script>
$('.valve-info-table').DataTable({
        responsive: true
    });
$('.valve_trigger').click(function(e) {
    valve_id = $(this).attr('valve');
    current_elem = $(this);
    if($(this).prop("checked"))
        curr_state = "ON";
    else
        curr_state = "OFF";
{#    alert(curr_state);#}
    $("#loader_" + valve_id).css("display", "block");
    $("#switch_" + valve_id).css("display", "none");
    $.post(
      "http://localhost:8000/valves/update_state",
      {
          "valve_id": valve_id,
          "state": curr_state
      },
      function(data, status) {
          if (status==="success"){
              $("#loader_" + valve_id).css("display", "none");
              $("#switch_" + valve_id).css("display", "block");
              console.log(data);
              if (data["status"] ==="SUCCESS") {

                     $("#last_updated_at_"+valve_id).html("Last updated at : "+data["last_updated_timestamp"]);
              }else{
                  $('#smallmodal').modal('show');
              }
          }
          else{
                $('#smallmodal').modal('show');
          }
      }
    );
});
</script>
</body>
</html>
