<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="overlay"></div>

    <!--TOP BAR-->
    {% include "menu-bars/top-bar.html" %}

    <section>
        {% include "menu-bars/sidebar_menu.html" %}
    </section>

    <div class="overlay"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
{% if user.role == "SUPER_ADMIN" %}
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">TOTAL USERS</div>
                            <div class="number count-to" data-from="0" data-to="{{ user_count }}" data-speed="1" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Valves</div>
                            <div class="number count-to" data-from="0" data-to="{{ valve_count }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">Organization Admins</div>
                            <div class="number count-to" data-from="0" data-to="{{ org_admin_count }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">Organizations</div>
                            <div class="number count-to" data-from="0" data-to="{{ org_count }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>{{ dashboard_header }}</h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                {% if user.role == "USER" %}
                                    <thead>
                                        <tr>
                                          {% for header in headers %}
                                                    <td><b>{{ header|upper }}</b></td>
                                          {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for valve in valves %}
                                                 <tr>
                                                     <td>{{ valve.id }}</td>
                                                     <td>{{ valve.name }}</td>
                                                 <td>{{ valve.imei_number }}</td>
                                                 <td>{{ valve.current_state }}</td>
                                                 <td>{{ valve.current_status }}</td>
                                                 <td>{{ valve.status_last_updated_at }}</td>
                                                 </tr>
                                            {% empty %}
                                                <h2>Sorry, no Valves Created yet</h2>
                                            {% endfor %}
                                    </tbody>
                                {% endif %}
                                {% if user.role == "ORG_ADMIN" %}
                                     <thead>
                                            <tr>
                                                {% for header in headers %}
                                                    <td><b>{{ header|upper }}</b></td>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                 <tr>
                                                     <td>{{ user.id }}</td>
                                                     <td>{{ user.last_login }}</td>
                                                 <td>{{ user.username }}</td>
                                                 <td>{{ user.first_name }}</td>
                                                 <td>{{ user.last_name }}</td>
                                                 <td>{{ user.created_date }}</td>
                                                 <td>{{ user.role }}</td>
                                                 <td>{{ user.organization }}</td>
                                                 <td>{{ user.email_address }}</td>
                                                 <td>{{ user.phone_number }}</td>
                                                 <td>{{ user.is_active }}</td>
                                                 <td>{{ user.account_activated }}</td>
                                                 <td>{{ user.valve_count }}</td>
                                                 </tr>
                                            {% empty %}
                                                <h3>Sorry, no Users Created yet</h3>
                                            {% endfor %}
                                            </tbody>
                                {% endif %}
                                {% if user.role == "SUPER_ADMIN" %}
                                            <thead>
                                            <tr>
                                                {% for header in headers %}
                                                    <td><b>{{ header|upper }}</b></td>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for org in orgs %}
                                                 <tr>
                                                     <td>{{ org.name }}</td>
                                                     <td>{{ org.slug }}</td>
                                                     <td>{{ org.id }}</td>
                                                     <td>{{ org.user_count }}</td>
                                                 <td>{{ org.valve_count }}</td>
                                                 </tr>
                                            {% empty %}
                                                <h3>Sorry, no Users and Valves Created yet</h3>
                                            {% endfor %}
                                            </tbody>
                                        {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include "common/footer.html" %}


</body>

</html>
<!-- end document-->
