<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="overlay"></div>

    <!--TOP BAR-->
    {% include "menu-bars/top-bar.html" %}

    <section>
        {% include "menu-bars/sidebar_menu.html" %}
    </section>

    <div class="overlay"></div>
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>USER LIST</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover user_table" >
                                                                        {% if users %}
                                <thead>
                                            <tr>
                                                {% for header in headers %}
                                                    <td><b>{{ header|upper }}</b></td>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                    {% endif %}
                                            <tbody>
                                            {% for user in users %}
                                                 <tr>
                                                     <td>{{ user.id }}</td>
                                                     <td>{{ user.last_login }}</td>
                                                 <td>{{ user.username }}</td>
                                                 <td>{{ user.first_name }}</td>
                                                 <td>{{ user.last_name }}</td>
                                                 <td>{{ user.created_date }}</td>
                                                 <td>{{ user.role }}</td>
                                                 <td>{{ user.organization }}</td>
                                                 <td>{{ user.email_address }}</td>
                                                 <td>{{ user.phone_number }}</td>
                                                 <td>{{ user.is_active }}</td>
                                                 <td>{{ user.account_activated }}</td>
                                                <td>{{ user.id }}</td>
                                                 <td>{{ user.id }}</td>
                                                 </tr>
                                            {% empty %}
                                                Sorry, no Users Created yet
                                            {% endfor %}
                                            </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>
{% include "common/footer.html" %}
<script>
    $('.user_table').DataTable({
        responsive: true,
        "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function (data, type, row) {
                    return "<a type=\"button\" class=\"btn bg-yellow waves-effect\" href=\"/user/update/" + data + "\" target=\"_blank\">"
                        + "<i class=\"material-icons\">mode_edit</i></a>";
                },
                "targets": 12
            },
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return "<a type=\"button\" class=\"btn bg-red waves-effect\" href=\"/user/delete/"+data+"\" target=\"_blank\">"
                         +"<i class=\"material-icons\">close</i></a>";
                },
                "targets": 13
            }
            ]
    });
</script>
</body>

</html>
<!-- end document-->
